* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Ubuntu", sans-serif;
  min-height: 100vh;
  /* overflow: hidden; */
}
:root {
  --blue: #287bff;
  --white: #fff;
  --gray: #f5f5f5;
  --black1: #222;
  --black2: #999;
}
.container {
  position: relative;
  width: 100%;
}
.navigation {
  position: fixed;
  width: 300px;
  height: 100%;
  background-color: var(--blue);
  border-left: 10px solid var(--blue);
  transition: 0.5s;
  overflow: hidden;
}
.navigation.active {
  width: 80px;
}
.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
}
.navigation ul li:hover,
.navigation ul li.hovered {
  background-color: var(--white);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.navigation ul li:nth-child(1) {
  margin-bottom: 40px;
  pointer-events: none;
}
.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  text-decoration: none;
  color: var(--white);

  display: flex;
}
.navigation ul li:hover a,
.navigation ul li.hovered a {
  color: var(--blue);
}
.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}
.navigation ul li a .icon i {
  font-size: 1.7em;
}
.navigation ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}

/* curve outside */
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
  content: "";
  position: absolute;
  right: 0;
  width: 50px;
  height: 50px;
  background-color: transparent;
  top: -50px;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px var(--white);
}
.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
  content: "";
  position: absolute;
  right: 0;
  width: 50px;
  height: 50px;
  background-color: transparent;
  bottom: -50px;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px var(--white);
}

/* Main */
.main {
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background-color: var(--white);
  transition: 0.5s;
}
.main.active {
  width: calc(100% - 80px);
  left: 80px;
}
.topbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  cursor: pointer;
}
.search {
  position: relative;
  width: 400px;
  margin: 0 10px;
}
.search label {
  position: relative;
  width: 100%;
}
.search label input {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  padding: 5px 20px;
  outline: none;
  border: 1px solid var(--black2);
  font-size: 18px;
  padding-left: 35px;
}
.search label i {
  position: absolute;
  top: 0;
  left: 10px;
  font-size: 1.2em;
}
.user {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.user img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-box {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}
.card-box .card {
  position: relative;
  background-color: var(--white);
  padding: 30px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;

  display: flex;
  justify-content: space-between;
  cursor: pointer;
  transition: 0.5s;
}
.card-box .card .number {
  position: relative;
  font-weight: 500;
  font-size: 2.5em;
  color: var(--blue);
  transition: 0.5s;
}
.card-box .card .cardName {
  color: var(--black2);
  font-size: 1.1em;
  margin-top: 5px;
  transition: 0.5s;
}
.card-box .card .icon-box {
  font-size: 3.5em;
  color: var(--black2);
}
.card-box .card:hover {
  background-color: var(--blue);
}
.card-box .card:hover .number,
.card-box .card:hover .cardName,
.card-box .card:hover .icon-box {
  color: var(--white);
}

.graphBox {
  position: relative;
  width: 100%;
  min-height: 200px;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 30px;
}
.graphBox .box {
  position: relative;
  background-color: #fff;
  padding: 20px;
  width: 100%;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.8);
  border-radius: 20px;
}

.details {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 30px;
  /* margin-top: 10px; */
}
.details .recentOrder {
  position: relative;
  min-height: 500px;
  padding: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}
.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.cardHeader h2 {
  font-weight: 600;
  color: var(--blue);
}
.btn {
  position: relative;
  padding: 5px 10px;
  background-color: var(--blue);
  text-decoration: none;
  color: var(--white);
  border-radius: 6px;
}
.details table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}
.details table thead td {
  font-weight: 600;
}
.details .recentOrder table tr {
  color: var(--black1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.details .recentOrder table tr:last-chid {
  border-bottom: none;
}
.details .recentOrder table tbody tr:hover {
  background-color: var(--blue);
  color: var(--white);
}
.details .recentOrder table tr td {
  padding: 10px;
}
.details .recentOrder table tr td:last-child {
  text-align: end;
}
.details .recentOrder table tr td:nth-child(2) {
  text-align: end;
}
.details .recentOrder table tr td:nth-child(3) {
  text-align: center;
}
.status.delivered span {
  padding: 2px 4px;
  background-color: #8de02c;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}
.status.pending span {
  padding: 2px 4px;
  background-color: #f9ca3f;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}
.status.return span {
  padding: 2px 4px;
  background-color: #f00;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}
.status.inprogress span {
  padding: 2px 4px;
  background-color: #1759ce;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}
.recentCustomer {
  position: relative;
  display: grid;
  min-height: 500px;
  padding: 20px;
  background-color: var(--white);
  box-sizing: 0 7px 25px rgba(0, 0, 0, 0.8);
  border-radius: 20px;
}
.recentCustomer .img-box {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}
.recentCustomer .img-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.recentCustomer table tr:hover {
  background-color: var(--blue);
  columns: var(--white);
}
.recentCustomer table tr td {
  padding: 12px 10px;
}
.recentCustomer table tr td h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2em;
}
.recentCustomer table tr td h4 span {
  font-size: 14px;
  color: var(--black2);
}
.recentCustomer table tr:hover td h4 span {
  color: var(--white);
}

/* Responsive Design */
@media (max-width: 991px) {
  .graphBox {
    grid-template-columns: 1fr;
    height: auto;
  }
  .navigation {
    left: -300px;
  }
  .main {
    width: 100%;
    left: 0;
  }
  .main.active {
    left: 300px;
  }
  .navigation.active {
    width: 300px;
    left: 0;
  }
  .card-box {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .details {
    grid-template-columns: repeat(1, 1fr);
  }
  .recentOrder {
    overflow-x: auto;
  }
  .status {
    white-space: nowrap;
  }
}
@media (max-width: 480px) {
  .card-box {
    grid-template-columns: repeat(1, 1fr);
  }
  .cardHeader h2 {
    font-size: 20px;
  }
  .user {
    min-width: 40px;
  }
  .navigation {
    width: 100%;
    left: -100%;
    z-index: 1000;
  }
  .navigation.active {
    width: 100%;
    left: 0;
  }
  .toggle {
    z-index: 1001;
  }
  .main.active .toggle {
    color: var(--white);
    position: fixed;
    right: 0;
    left: initial;
  }
}
